:root {
    --font-primary-regular: Manrope-regular, sans-serif;
    --font-primary-semiBold: Manrope-semiBold, sans-serif;
    --font-secundary-regular: Sora-regular, sans-serif;
    --font-secundary-bold: Sora-bold, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1A1A1A;
    color: #fff;
    overflow-x: hidden;
}

.app {
    padding-bottom: 100px;
}

.header {
    top: 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    margin-top: 43px;
    z-index: 2;
}

.headerContent {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: fit-content;
    gap: 12px;
    font-family: var(--font-primary-regular);
    padding: 20px;
    cursor: pointer;
}

.headerContent span {
    display: block;
    height: 57.47px;
    width: 197.43px;
    background-image: url('../public/imgs/Group102.svg');
    background-position: center;
    background-repeat: no-repeat;
}

.headerContent p {
    font-size: 15px;
    font-weight: 400;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    margin-top: 45px;
}

.mainContent {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    width: 88%;
    top: 0px;
    gap: 55px;
    font-family: var(--font-secundary-regular);
}

.mainContentText {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.mainContent h1 {
    font-family: var(--font-secundary-bold);
    font-size: 24px;
    font-weight: 700;
}

.mainContentDescription {
    font-size: 18px;
    font-weight: 400;
}

.allCards {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    font-family: var(--font-primary-regular);
}

.card {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 100%;
    background-color: #212121;
    border-radius: 5px;
    padding: 16px 24px 24px 24px;
    border: 1px solid #444444;
    cursor: pointer;
}

.column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    gap: 4px;
}

.aircraft * {
    width: 100%;
    text-align: start;
}

.aircraft h2 {
    font-family: var(--font-primary-semiBold);
    font-size: 16px;
    font-weight: 600;
}

.aircraft h3 {
    font-size: 14px;
    font-weight: 400;
}

.route {
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.routeTitle {
    font-size: 12px;
    font-weight: 400;
}

.routeLocal {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.routeLocal span {
    height: 12px;
    background-image: url('../public/imgs/Group91.svg');
    background-position: center;
    background-repeat: no-repeat;
}

.routeLocal div {
    display: flex;
    justify-content: space-between;
    width: 106.3px;
    font-size: 14px;
    font-weight: 400;
}

.registration h4 {
    font-size: 12px;
    font-weight: 400;
}

.registration p {
    font-family: var(--font-primary-semiBold);
    font-size: 16px;
    font-weight: 600;
}

.date h4 {
    font-size: 12px;
    font-weight: 400;
}

.date p {
    font-family: var(--font-primary-semiBold);
    font-size: 16px;
    font-weight: 600;
}

.balance h4 {
    font-size: 12px;
    font-weight: 400;
}

.balance p {
    font-family: var(--font-primary-semiBold);
    font-size: 16px;
    font-weight: 600;
}

.detailsScreen {
    position: relative;
    display: none;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #1A1A1A;
    z-index: 1;
}

.detailsScreenSpace {
    position: relative;
    top: 218.262px;
    display: flex;
    flex-direction: column;
    width: 88%;
    gap: 55px;
}

.detailsScreenClose {
    display: flex;
    font-family: var(--font-secundary-bold);
    height: fit-content;
    width: fit-content;
    font-size: 24px;
    font-weight: 700;
    gap: 18px;
}

.detailsScreenClose span {
    height: 32px;
    width: 32px;
    background-image: url('../public/imgs/materialSymbolsArrowBackIos.svg');
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.detailsScreenClose button {
    color: #fff;
    font-family: var(--font-secundary-bold);
    font-size: 24px;
    font-weight: 700;
    background: none;
    border: none;
}

.detailsScreenContent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.detailsScreenRewardSection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: #212121;
    border-radius: 5px;
    padding: 16px 24px 32px 24px;
    border: 1px solid #444444;
    cursor: pointer;
    gap: 24px;
}

.detailsScreenRewardTitle {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    font-family: var(--font-secundary-bold);
    font-size: 18px;
    font-weight: 700;
    gap: 8px;
}

.detailsScreenRewardTitle span {
    height: 24px;
    width: 24px;
    background-image: url('../public/imgs/materialSymbolsTrophyOutline.svg');
    background-position: center;
    background-repeat: no-repeat;
}

.detailsScreenRewardContent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
}

.detailsScreenRewardColumn {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    font-family: var(--font-primary-regular);
    font-size: 14px;
    font-weight: 400;
    gap: 12px;
}

.detailsScreenRewardColumn span {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 48px;
    background-position: center;
    background-repeat: no-repeat;
}

.detailsScreenRewardColumn:nth-child(2) span {
    background-image: url('../public/imgs/materialSymbolsStarShineOutlineRounded.svg');
}

.detailsScreenRewardColumn:nth-child(3) span {
    background-image: url('../public/imgs/materialSymbolsAwardStarOutline.svg');
}

.detailsScreenRewardColumn div {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.detailsScreenRewardColumn:first-child div {
    gap: 2px;
}

.detailsScreenRewardPrice {
    color: #212121;
    font-family: var(--font-primary-semiBold);
    font-size: 16px;
    font-weight: 600;
    background-color: #38BDF8;
    border-radius: 170px;
}

.detailsScreenRewardColumn div p:last-child {
    font-family: var(--font-secundary-bold);
    font-size: 32px;
    font-weight: 700;
}

.detailsScreen .card {
    grid-template-columns: repeat(4, 1fr);
}

.open {
    position: fixed;
    display: flex;
    justify-content: start;
    width: 100vw;
}